<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GryEntities" connectionString="metadata=res://*/Model.DataModel.csdl|res://*/Model.DataModel.ssdl|res://*/Model.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PRZEMEK-PC;initial catalog=Gry;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DBEntities" connectionString="metadata=res://*/Model.EntityModel.csdl|res://*/Model.EntityModel.ssdl|res://*/Model.EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PRZEMEK-PC;initial catalog=Gry;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>